body {background-color: #F2F2F2 }
p {color: #0D2622}
a {color: #BF6734}
h1 {
    color: #993f1f;
    text-align: center;
}
h2 {color: #BF6734}
nav {
    background-color: #BF6734;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {color: #F2F2F2}
nav a:hover {background-color: #993f1f}
.quote {float: right;}
.me {float: right; margin-left: 20px; margin-bottom: 30px;}
.clear {clear: both;}
.links {
    float: right;
    margin-right: 800px;
    background-color: #dddddd;
    border-radius:1em;
    padding: 20px 20px 20px 20px;}
.address {
    float: left;
    margin-bottom: 50px;
    background-color: #dddddd;
    border-radius: 1em;
    padding: 14px 20px 14px 20px;
    margin-left: 20px;}
.linklogo {width: 20px;}
.container {
    display: flex;
    background-color: #dddddd;
    border-radius: 1em;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;}
.map {flex: 1;}
.questions {
    flex: 1;
    margin-left: 50px;}
.first {background-color: #dddddd;} 

/* lab09 */
.skills {
    display: flex;
    flex: 2;
    margin-top: 40px;
}
.skills img {
    width: 20%;
}
aside {
    background-color: #dddddd;
    border-radius: 1em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}
aside p {
    color: #F2F2F2;
}
.flexbox2 {
    display: flex;
}
.aside {flex: 1;}
.content {
    margin: 20px 20px 20px 20px;
}
.intro {display: flex;}
.sentence {flex: 2;}
.blank {flex: 1;}